<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="nice3point" value="https://nuget.pkg.github.com/Nice3point/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <nice3point>
            <add key="username" value="Nice3point" />
            <add key="cleartextpassword" value="%NICE3POINT_PACKAGES_API_KEY%" />
        </nice3point>
    </packageSourceCredentials>
</configuration>